:root{
    --veryDarkBlue:hsl(217, 19%, 35%);
    --desaturatedDarkBlue: hsl(214, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --lightGrayish:hsl(210, 46%, 95%);
    --white:#ffffff;

    /*font letter*/
    font-family: 'Manrope', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

    /* size letter */
    font-size: 62.5%;
    --sm:1.4rem;
    --md:1.6rem;
    --lg:1.8rem;
}
body{
    background-color: var(--lightGrayish);
}
.main{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.card{
    display: flex;
    background-color: var(--white);
    width: 64.4rem;
    height: 24.4rem;
    gap: 2.2rem;
    padding: 0;
    border-radius: 1.4rem;
}
.card__image{
    /* border: solid 1px red;
    background-color: blue;
    margin: 0; */
    width: 24rem;
    height: 24rem;
}
.card__image figure{
    margin: 0;
}
.card__image img{
    width: 22rem;
    height: 24.4rem;
    border-radius: 1.4rem 0 0 1.4rem;
    object-fit: cover;
}
.card__info{
    padding: 2rem;
}
.card__tittle{
    color: var(--veryDarkBlue);
    font-size: var(--lg);
}
.card__description{
    color: var(--desaturatedDarkBlue);
    font-size: var(--sm);
}
.card__contact{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -1.2rem;
    margin-left: -3.4rem;
}
.card__profile img{
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 3.4rem;
    object-fit: cover;
}
.card__information{
    display: inline-block;
    margin-left: -2rem;
    margin-right: 6.4rem;
}
.card__information--name{
    color: var(--veryDarkBlue);
    font-weight: bold;
}
.card__information--date{
    color: var(--desaturatedDarkBlue);
}
.card__share{
    background-color: var(--lightGrayish);
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 2.4rem;
}
.card__share img{
    position: absolute;
    /* align-items: center; */
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    text-align: center;
}
.card__socialMedia span{
    text-align: center;
    font-size: 1.2rem;
    color: var(--white);
    margin-right: 1.8rem;
}
.card__socialMedia a{
    margin-right: 1.2rem;
}
.card__socialMedia{
    display: none;
    position: absolute;
    top: -2.8rem;
    left: calc(80%);
    width: 15.8rem;
    height: 2rem;
    padding: 1.2rem;
    border-radius: 0.8rem;
    background: var(--desaturatedDarkBlue);
    box-shadow: 0.5rem 0.5rem 0.5rem 0px rgba(0,0,0,0.32);
}
.display{
    display: block;
}
.icons{
    font-size: 2rem;
    color:white;
}